html, body {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.caja_1{
    background: #1f2937;
    height: 520px;
    display: flex;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    justify-content: space-between;
    align-items: center;
  }

.caja_a{
  height: 470px;
  width: 450px;
  padding: 12px;
  margin: 150px;
  color:white;
  display: flex;
  flex-direction: column;

}

.contenido_a{
justify-content: flex-start;
font-weight: bold;
font-size: 16pt;
}

.contenido_b{
  text-align: left;
  padding: auto;
  margin-top: 12px;
  width: 375px;
  height: 270;
}
h1{
  font-size: 28pt;
}
p{
font-size: 12pt;
}

button{
  background-color: #3382f6;
  color: white;
  height: 47px;
  width: 150px;
  font-weight: bold;
  font-size: 12pt;
  border-radius: 10px;
  border: none;
}

.caja_b{
  height: 470px;
  width: 970px;
  padding: 12px;
  margin: 150px;
  margin-left: 50px;
  color:white;
  display: flex;
  flex-direction: column;
}

.contenido_c{
height: 80;
width: 750px;
display: flex;
justify-content: space-around;
}

.item1,
.item2,
.item3{
height: 25px;
width: 225px;
}

.item1{
margin-left: 50px;
}

.contenido_d{
  height: 80px;
  width: 380px;
  margin-top: 80px;
  padding: 105px;
  background-color: grey;
  display: flex;
  justify-content: center;
  align-content: center;
}

.caja_2{
  display: flex;
  height: 450px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  flex-direction: column;
  background-color: white;
 
}

.titulo{
  height: 80px;
  width: auto;
  text-align: center;
  margin-top: 10px;
  font-size: 22pt;
  font-weight: bolder;
  color: #1f2937;
}

.blue_box{
  height: 270;
  width: auto;
  padding: 50px;
  padding-bottom: 0%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;

}

.caja1,
.caja2,
.caja3,
.caja4{
  height: 170px;
  width: 165px;
  margin: 45px;
  margin-bottom: 5px;
  padding: 10px;
  border: 5px solid #3382f6;
  border-radius: 12px;
}

.subtexto{
  height: 100px;
  width: auto;
  font-size: 12pt;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
}

.texto{
  height: 150px;
  width: 175px;
  margin: 45px;
  padding: 10px;
  border: 5px;
  margin-top: 0%;
}

.caja_3{
  display: flex;
  height: 400px;
  width: auto;
  padding: 50px;
  padding-bottom: 0%;
  padding-top: 0%;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  flex-direction: column;
  background-color: #e5e7eb;
  justify-content: center;
  align-items: center;
}

.quote{
  height: 370;
  width: 950px;
  padding: 40px;
  padding-bottom: 0%;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
 font-size: 36pt;
  font-weight: 300;
  text-align: justify;
}


.autor{
  height: 75px;
  width: 950px;
  padding: 10px;
  padding-top: 0px;
  display: flex;
  justify-content: flex-end;
}

.Thor{
  height: 40px;
  width: 300px;
  padding: 8px;
  padding-top: 0px;
  padding-right: 0%;
  font-size: 20pt;
  font-weight: bold;
  color: #1f2937;
}

.caja_4{
  height: 190px;
  width: auto;
  padding: 25px;
  background-color: white;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cajau{
  height: 135px;
  width: 950px;
  padding: 18px;
  padding-bottom: 0%;
  background-color: #3382f6;
  border-radius: 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;


}

.derecha,
.izquierda{
  height: 100px;
  width: 590px;
  padding: 25px;
  padding-top: 0%;
  color:white;
}

.resaltado{
  font-weight: bold;
  font-size: 14pt;
}
.izquierda{
  display: flex;
  justify-content: center;
  align-items: center;

}

.boton_2{
  height: 35px;
  width: 90px;
  padding:5px;
  border: 3px solid white;
  margin: 25px;
}

.caja_5{
  height: 45px;
  width: auto;
  padding: 25px;
  align-content: center;
  text-align: center;
  color: white;
  background-color: #1f2937;
}