html, body {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.caja_1{
    background: #1f2937;
    height: 520px;
    display: flex;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    justify-content: space-between;
    align-items: center;
  }

.caja_a{
  height: 470px;
  width: 450px;
  padding: 12px;
  margin: 150px;
  color:white;
  display: flex;
  flex-direction: column;

}

.contenido_a{
justify-content: flex-start;
font-weight: bold;
font-size: 16pt;
}

.contenido_b{
  text-align: left;
  padding: auto;
  margin-top: 12px;
  width: 375px;
  height: 270;
}
h1{
  font-size: 28pt;
}
p{
font-size: 12pt;
}

button{
  background-color: #3382f6;
  color: white;
  height: 47px;
  width: 150px;
  font-weight: bold;
  font-size: 12pt;
  border-radius: 10px;
  border: none;
}

.caja_b{
  height: 470px;
  width: 970px;
  padding: 12px;
  margin: 150px;
  margin-left: 50px;
  color:white;
  display: flex;
  flex-direction: column;
}

.contenido_c{
height: 80;
width: 750px;
display: flex;
justify-content: space-around;
}

.item1,
.item2,
.item3{
height: 25px;
width: 225px;
}

.item1{
margin-left: 50px;
}

.contenido_d{
  height: 80px;
  width: 380px;
  margin-top: 80px;
  padding: 105px;
  background-color: grey;
  display: flex;
  justify-content: center;
  align-content: center;
}




